.banner {
  position: relative;
  width: 100%;
  height: 40vh;
  box-sizing: border-box;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  background-image: url('../../../public/main-banner.jpg'); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
}

.content {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width:100%;
    height:100%;
    bottom: 70%;
}

.contentHeader{  
  padding:0px 50px;
  color:white;
}

.contentContent{
  padding:0px 50px;
  font-size:18px;
  color:white;
}

.bannerButton {
  margin-left:50px;
  display: inline-block;
}

.bannerButton .btn {
  background-color: #1d3557;  /* change to the color you want */
  color: #f1faee;  /* change to the color you want */
  font-size: 18px;
  border-radius: 25px;
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease 0s;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.1);
}

.bannerButton .btn:hover {
  background-color: #457b9d;  /* change to the color you want */
  color: #f1faee;  /* change to the color you want */
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.1);
  transform: translateY(-2px);
}

.bannerButton .btn:active {
  transform: translateY(0);
}

@media (max-width: 768px) {
  .banner {
    width:100%;
    height: 60vh;
  }

  .content {
    
    bottom: 95%;
    
  }

  .contentHeader{
    
    padding:0px 0px;
    margin:30px;
  }

  .bannerButton {
    margin-left:30px;
  }

  


}