.navbar {
    background-color: #343a40;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    height: 5rem;
}

.navbarCollapse {
    justify-content: center;
    text-align:center;
}

.navLink {
    color: #fff;
    margin-right: 15px;
    font-family: 'Arial, sans-serif';
    font-size: 18px;
    text-decoration: none;
    
}

.navLink:hover {
    color: #ffc107;
}

.brand {
    font-weight: bold;
    color: #ffc107;
}
